html {
    font-family: 'Ubuntu', sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    box-shadow: 5px 10px 8px 2px #628ca6;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: #628ca6;
}
tr:nth-child(2) {
   color: floralwhite;
}

td {
    text-align: center;
}

tr:first-child th {
    background-color: #7fb9c2;
}
tr:nth-child(even) td {
    background-color: #e7ffed;
}

tr:nth-child(odd) td {
    background-color: #e7f0ed;
}
tr:first-child td {
    background-color: #7fb9c2;
}
tr td.look {
    background-color: #628ca6;
    color: floralwhite;
}

tfoot {
    background-color: #7fb9c2;
}
