@media only screen and (min-width: 64em) {
    nav ul li a {padding: .6rem 1rem;}


    .logo {
        margin-top: 5px;
    }

    #mainhead {
        padding-right: 5em;
    }
    .tms {
        font-size: 50px;
        padding-right: 5em;
    }
    div.subheading {
        padding-right: 9em;
    }
    .btn1 {
        font-size: 35px;

    }

    #brands .subhead {
        font-size: 30px;
        padding-left: .3em;
    }
    .list {

        margin: 5px 200px 10px 0px;
    }
    #brands .list a {
        font-size: 30px;
    }
    h3.favbikes {
        font-size: 30px;
    }
    .btnbikes {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: center;
        padding-left: 1em;
    }


    /*--adventure tours page--*/
    #touring .subhead p {
        font-size: 40px;
    }
    /*---events page---*/

    textarea {
        width: 800px;
        height: 400px;
    }
    #divideinfo .subhead p{
        font-size: 40px;
    }
    /*---newbikes page---*/
    .grid6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }
    #newbike .grid5 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 0;
    }
    #newbike .subhead{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: center;
        z-index: 1;
    }
    #newbike img {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        z-index: -1;
    }
    #newbike .newinfo {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    #newbike .subhead p {
        font-size: 40px;
    }
    .indbike {
        grid-column: 1 / 2;

    }
    .bikeinfo {
        grid-column: 2 / 3;

    }

/*--service page--*/
    #service .subhead p {
        font-size: 35px;
    }
    /*--contact page--*/
    #contactus .subhead {
        align-self: center;

    }
}
