/* Medium screens specific rules and styling*/
@media only screen and (min-width: 37.5em) {

    .logo {
       float: left;
        padding: 1px 2px 2px 2px;
        margin-top: 0;
        width: 25%;

    }
    #mainhead {
        width: 100%;
        float: top;
        font-size: 25px;
        padding-right: .3em;
        padding-bottom: .5em;
    }
    .tms {
        font-size: 35px;
        padding-right: 4em;
    }

    div.subheading {
        padding-right: 5em;
    }
    nav button {
        display: none;
    }
    nav {
        background-color: #35711b;
    }
    nav ul.hide {
        display: flex;
        justify-content: space-around;

    }
    nav ul li a:hover {
        background-color: #e7b401;
    }

    /* body*/


    .btn1 button, #tours button, #brands button, #event button {
        padding: 14px 28px;

    }

    .grid {
        display: grid;
        grid-template-columns: [first] 1fr [second] 1fr [end];
        grid-template-rows: [top] auto [row2] auto [row3] auto [row4] auto [row5] auto [row6] auto [bottom];
        grid-gap: 0;
    }

    main {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    #brands {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        margin-top: 0;

    }

    #tours {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        margin-top: 0;
    }

    #event {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }



    footer {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }
    .grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-gap: 0;
    }

    #mainpic {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
    }
    #overlay {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        background-color: rgba(49, 49, 49, .4);
        z-index: 2;
    }
    .btn1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        z-index: 3;
        align-self: center;
    }
    .grid4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: end;
        grid-gap: 0;
    }
    .homepage {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: center;
        color: #13171a;
        z-index: 2;
        margin: 0;
        font-size: 38px;
    }
    .mainpict {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        width: 100%;
    }
    .divider3 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        width: 100%;
        align-self: start;

    }
    .divider {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: start;
        margin-top: .5em;
        font-size: 25px;
        z-index: 2;
        background-color: clear;
    }
    .btnbikes {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: start;
    }
    #brands .subhead {
        display: grid;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: end;
        background-color: rgba(73, 83, 92, .6);
        color: whitesmoke;
        font-size: 25px;
        z-index: 2;
        padding-left: .3em;
    }
    .list {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
        background-color: rgba(73, 83, 92, .6);
        color: whitesmoke;
        font-size: 18px;
        z-index: 2;
    }
    .bikebrands {
        background-color: clear;
        font-size: 50px;
    }
    /*---New Bikes Page---*/
    #newbike .subhead p {
        font-size: 35px;
    }
    .newinfo h3 {
        font-size: 25px;
    }
    .bikeinfo p {
        font-size: 20px;
        margin-bottom: 0;
    }
    .salesinfo p{
        font-size: 18px;
    }
/*Adventure Tours Page*/
    .grid5 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5em auto 1fr;
        grid-gap: .5em;
    }
#excursions .divider1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 3em;
}
.tourinfo {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: end;
    color: #49535c;
    /*background-color: rgba(73, 83, 92, .6);*/
    margin-top: 0;
    font-size: 20px;

}
.tourinfo p {
    margin-top: 0;
}
#sightsee {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#mountride {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
    #touring .subhead {
        display: grid;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: center;
        background-color: rgba(73, 83, 92, .6);
        color: whitesmoke;
        font-size: 25px;
        z-index: 2;
        padding-left: .3em;
    }
    #touring .subhead p {
        font-size: 30px;
    }
    /*---events page---*/
    #joinin h3 {
        font-size: 20px;
        color: #13171a;
    }
    textarea {
        width: 600px;
        height: 400px;
    }
    #divideinfo .subhead p{
        font-size: 30px;
    }
    /*new bike page*/
    #newbike .subhead {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: center;
        background-color: rgba(73, 83, 92, .6);
        color: whitesmoke;
        z-index: 2;
        padding-left: .3em;

    }
    #newbike .subhead p {
        font-size: 30px;
    }

    /*--service page--*/
    #service .subhead p {
        font-size: 35px;
    }
    #service h4 {
        font-size: 25px;

    }
    /*--Contact page--*/
    #contactus .subhead p {
        font-size: 35px;
    }
    #contactus .subhead {
        align-self: center;

    }
    #contactus h4 {
        font-size: 25px;
    }
}
