@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header figure.logo {
        float: left;
    }
    nav {
      position: static;
    }
    nav button {
        display: none;
    }
    nav ul #navigation {

        list-style-type: none;
        margin: 0;
        margin-left: 2%;
        padding: 0;
        overflow: hidden;
        background-color: #c32439;
    }
    nav ul.hide {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    nav ul li {
        flex: 0 0 auto;

    }

    nav ul li a {
        display: block;
        border: none;
        color: white;
        text-align: center;
        padding: .8rem 1rem;
        text-decoration: none;
    }
    /* Change the link color to #111 (black) on hover */
    nav ul li a:hover {
        background-color: #122034;
    }
    /* hamburger button does not need to be shown */
    div#gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    main h2 {
        float: right;
        width: 47%;
    }
    main section.summary {
        float: right;
        width: 47%;
    }
    main figure.franklinmain img {
    clear: right;
   float: left;
    width: 48%;
    margin: 0;
}


 #forecast {
    clear: right;
    display: block;
     border: 1px solid #4b666e;
     background-color: #d2ddd8;

}


    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
    }
    /* responsive images */
}

/*-- Clearfix --*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
